/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAV 1
#define NUM 2
#define Adjust 3

/ {
        keymap {
                compatible = "zmk,keymap";

                BASE_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | esc  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ALT  |
//                    | TOG | SPC | GUI |   | SHFT | ENT  | BKSP |
                        bindings = <
   &kp TAB &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp ESC &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp LALT
                  &to 1 &kp SPACE &kp LGUI  &kp LSHFT &kp ENTER &kp BSPC
                        >;
                };

               NAV_layer {
// -----------------------------------------------------------------------------------------
// |   | F1 | F2 | F3 | F4 |   |   |   |   | UP |   | PG UP | HOME |
// | BASE | F5 | F6 | F7 | F8 |   |  |   | LEFT | DOWN  | RIGHT  |PG DN | END |
// |CTRL    |F9|F10|F111|F12||  | | | | | | ALT|
// |    | |                     |TOG |    SPACE       |GUI   |  |SHFT |ENT |BSPC | | | |
                        bindings = <
   &trans &kp F1 &kp F2 &kp F3 &kp F4 &trans &trans &trans &trans &kp UP  &trans &kp PG_UP &kp HOME
   &to 0 &kp F5 &kp F6 &kp F7 &kp F8  &trans  &trans &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &kp END
   &kp LCTRL &kp F9 &kp F10 &kp F11 &kp F12 &trans &trans &trans &trans    &trans &trans &kp LALT
                                    &to 2   &kp SPC       &kp LGUI      &kp LSHFT &kp ENTER   &kp BSPC
                        >;
                };

                NUM_layer {
// -----------------------------------------------------------------------------------------
// |` |DEL | |( |) |\ |                                               |/ |7 |8 |9 |- |BSPC | 
// |BASE |- |= |[ |] | |                                            |* |4 |5 |6 |+ | | 
// |ALT |UNDO |CUT |COPY |PASTE |REDO |  |, |1 |2 |3 | |ENT | 
//                    | ADJ|SPC| GUI|   | SHIFT|ENT| 0|
                        bindings = <
   &kp GRAVE &kp DEL &trans &kp LPAR &kp RPAR &kp BSLH &kp FSLH &kp N7 &kp N8 &kp N9 &kp MINUS &kp BSPC
   &to 0 &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &trans &kp  STAR &kp N4 &kp N5 &kp N6 &kp PLUS &trans
   &kp LALT &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &kp LC(Y) &kp COMMA &kp N1 &kp N2 &kp N3 &trans &kp ENTER
   &to 3 &kp SPACE &kp LGUI &kp LSHFT &kp ENTER &kp N0
                       >;
 };

		ADJUST_layer {
// -----------------------------------------------------------------------------------------
// | | |VDOWN |MUTE |VUP | |  |KBUP |LOCK |SCREENDWN |SCREENUP | |RESET | 
// |BASE | |REW |PLAY |FF | |  |KBDOWN | |SCREENST |MARK | | | 
// |BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |  | | | | | |CTRL | 
//                    | BASE|SPACE| GUI|   | SHIFT|ENT| |
			bindings = < 
   &trans &trans &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &trans &kb C_BKLT_TOG &kb LG(L)  &kb C_BRI_UP &kb C_BRI_DN &trans &trans
   &to 0 &trans &kb C_RW &kb C_PP &kb C_FF &trans &trans &trans &kp LS(LG(S)) &trans &trans &trans
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans &trans &kb LCTRL
   &to 0 &kp SPACE &kp LGUI &kp LSHFT &kp ENTER &trans
			>;
		};

        };
};
